:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:600px) {
    .main {
        max-width: 750px;
        margin: 25px auto;
    }
}

*,
body {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--Eggshell);
}

img {
    max-width: 100%;
    border-radius: 15px;
}

section,
hr,
#introduction p {
    margin-bottom: 3.5rem;
}

.main {
    padding: 1.5rem;
    background-color: var(--White);
    color: var(--Dark-Charcoal);
    border-radius: 15px;
    line-height: 1.5em;
    font-weight: 100;
    min-width: 350px;
}

.young_serif {
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

header {
    margin: 25px 0;
    font-size: 1.5rem;
    color: var(--Nutmeg);
}

#introduction header {
    font-size: 1.8rem;
    color: var(--Dark-Charcoal);
}

.prep-time {
    color: var(--Dark-Raspberry);
    margin-bottom: 10px;
    font-weight: 400;
}

ol,
ul {
    list-style-position: outside;
    padding-left: 75px;
}

li {
    margin-left: 1.9rem;
}

li::marker {
    color: var(--Nutmeg);
    font-weight: 800;
}

.bold {
    font-weight: 800;
}

.split2 {
    display: inline-block;
    width: 50%;
}

.border_bottom {
    border-bottom: 1px solid var(--Light-Grey);
    display: flex;
    justify-items: center;
    height: 2.2rem;
}

.margin{
    margin: -35px 0 15px 0;
}
/*
table {
    display: block;
}
caption{
    width: 100%;
}
*/